//partial
footer{
    width: 100%;
    background-color: #413F42;
    text-align: center;
    & p{
        font-size: 26px;
        color: $color3;
        text-transform: capitalize;
    }
    & i{
        font-size: 60px;
        color: $color3;
    }
}