*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
/*Variables*/
$color1: black;
$color2: pink;
$color3: #fff;
$color4: #FBD6D2;
$color5: #F190B7;
$color6: #413F42;
/*Variables Fin*/
@mixin Titulodeservicios {
    font-size: 50px;
    text-align: center;
    background-image: url(/imagenes/fondo\ 2.jpg);
    background-position: center;
    text-transform: capitalize;
    padding: 10px;
    border: 4px solid $color1;
}
body{
    background-color: #413F42;
}
.carousel-item{
    img{
        width: 700px;
        height: 600px;
        margin-left: 25%;
    }
}
section{
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
}
.Tituloservicios{
    @include Titulodeservicios;
}
.Servicios{
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    & h2{
        margin: 20px;
        font-size: 50px;
        border-bottom: black 3px solid 
    }
    & p{
        margin: 20px;
        font-size: 25px;
    }
}
//imports y partials
@import "_footer.scss";

main{
    background-image: url(/imagenes/fondo\ 2.jpg);
    background-size:contain;
    background-position: center;
    border: 3px solid black;
    width: 50%;
    margin-left: 26%;
    form{   
            font-size: 25px;
            color: black;
        }
    }
    input{
        background-color: pink;
        border-radius: 20px;
    }
    input::placeholder{
    text-align: center;
}
.PreguntasFrecuentes{
    font-size: 25px;
    padding: 5px;
    h2{
        border-bottom: 3px solid black;
        padding: 20px;
    }
    p{
        padding-left: 20px;
    }
}   
.dleft{
    border-top: 3px solid $color1;
    & img{
        width: 500px;
    }
}
.dright{
    border-top: 3px solid $color1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.SecadorDePelo{
    width: 100%;
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid black;
    p{
        margin: 30px;
        font-size: 24px;
        font-family: serif;
    }
    h1{
        margin: 20px;
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
    }
    img{
        margin: 20px;
        width: 200px;
    }
}
.MaquinaCortarPelo{
    @extend .SecadorDePelo;
    img{
        border: 3px solid black;
        width: 250px;
    }
    h1{
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    p{
        color: black;
        font-size: 30px;
        font-family: serif;
    }
}
.PlanchaDePelo{
    @extend .SecadorDePelo;
    h1{
        font-family: 'Times New Roman', Times, serif;
    }
    img{
        border: 3px dotted black;
    }
    p{
        color: black;
        font-size: 30px;
        font-family: serif;
    }
}
.TijerasDePelo{
    @extend .SecadorDePelo;
    h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 67px;
    }
    img{
        width: 260px;
        border: 3px solid gray;
    }
    p{
        color: black;
        font-size: 30px;
        font-family: serif;
    }
}
.cartas{
    margin: 30px;
    height: min-content;
}
.texto{
    font-family: 'Times New Roman', Times, serif;
    padding: 10%;
}
@media screen and (min-width: 320px) and (max-width: 489px) {
    .carousel-item{
        img{
            width: 400px;
            height: 300px;
            margin-left: 1%;
        }
    }
    .formu{
        font-size: 31px;
    }
    input{
        font-size: 13px;
    }
    select{
        font-size: 11px;
    }
    textarea{
        font-size: 10px;
    }
    section{
        background-size: cover;
    }
    .btn{
        margin-top: 3px;
    }
}
@media screen and (min-width: 490px) and (max-width: 767px) {
    .carousel-item{
        img{
            width: 400px;
            height: 300px;
            margin-left: 10%;
        }
    }
    .formu{
        font-size: 45px;
    }
    input{
        font-size: 20px;
    }
    select{
        font-size: 18px;
    }
    textarea{
        font-size: 18px;
    }
    section{
        background-size: cover;
    }
    .card{
        margin-left: 45px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199){
    .carousel-item{
        img{
            width: 400px;
            height: 300px;
            margin-left: 23%;
        }
    }
    .formu{
        font-size: 60px;
    }
    input{
        font-size: 30px;
    }
    label{
        font-size: 40px;
    }
    select{
        font-size: 30px;
    }
    textarea{
        font-size: 20px;
    }
    section{
        background-size: cover;
    }
    .btn{
        padding: 3px;
        margin-top: 3px;
    }
}